<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curriculum</title>
    <link rel="stylesheet" href="./static/css/styles.css">
</head>
<body>
    
    <div>
        <h1>Este es mi curriculum y si quieres se puede descargar</h1>
    </div>
    
    <div class="dina4">

        <div class="contenedor_izquierda">

            <div class="imagen">
                <img src="./static/imagenes/car_yo.jpg" alt="#" class="imagen_cara">
            </div>

            <div class="datos_de_contacto">
                <h1 class="nombre">ALVARO MUNILLA GAMO</h1>
                <h2 class="contacto">
                    <img class="icono1" src="./static/imagenes/location_map_pin_mark_icon_148685.png" alt="icono1">Guadalajara<br><br>
                    <img class="icono2" alt="icono2" src="./static/imagenes/blue-ge9725d49a_1280.png">622921716<br><br>
                    <img class="icono3" alt="icono3" src="./static/imagenes/pngwing.com.png">mucho-muni@hotmail.com
                </h2>
            </div>

            <div class="presentacion">
                <p>Hola, soy Alvaro, soy programador junior y estoy aquí porque me gusta solucionar los problemas que me van surgiendo en el dia a dia y si es programando todavia más.<br><br>Mi pasion es desarrollar aplicaciones web y como tal me gustaria trabajar de ello. Estoy en busqueda activa de empleo y a la vez sigo aprendiendo por mi cuenta.</p>
            </div>

            <div class="mis_habilidades">
                <h2>MIS HABILIDADES</h2>

                    <div class="skills">
                        <div class="detalles">
                            <span>HTML</span>
                            <span>80%</span>
                        </div>

                        <div class="menu">
                            <div id="html_menu"></div>
                        </div>
                    </div>

                    <div class="skills">
                        <div class="detalles">
                            <span>Python</span>
                            <span>70%</span>
                        </div>

                        <div class="menu">
                            <div id="python_menu"></div>
                        </div>
                    </div>

                    <div class="skills">
                        <div class="detalles">
                            <span>Javascript</span>
                            <span>60%</span>
                        </div>

                        <div class="menu">
                            <div id="javascript_menu"></div>
                        </div>
                    </div>

                    <div class="skills">
                        <div class="detalles">
                            <span>MySQL</span>
                            <span>70%</span>
                        </div>

                        <div class="menu">
                            <div id="mysql_menu"></div>
                        </div>
                    </div>

                    <div class="skills">
                        <div class="detalles">
                            <span>CSS</span>
                            <span>70%</span>
                        </div>

                        <div class="menu">
                            <div id="css_menu"></div>
                        </div>
                    </div>

                    <div class="skills">
                        <div class="detalles">
                            <span>Bootstrap</span>
                            <span>70%</span>
                        </div>

                        <div class="menu">
                            <div id="bootstrap_menu"></div>
                        </div>
                    </div>

                    <div class="skills">
                        <div class="detalles">
                            <span>Node.js</span>
                            <span>60%</span>
                        </div>

                        <div class="menu">
                            <div id="node_menu"></div>
                        </div>
                    </div>

                    <div class="skills">
                        <div class="detalles">
                            <span>Express</span>
                            <span>60%</span>
                        </div>

                        <div class="menu">
                            <div id="express_menu"></div>
                        </div>
                    </div>

            </div>
            
        </div>

        <div class="contenedor_derecha">
            
            <a download="Curriculum Alvaro Munilla" href="./static/imagenes/Curriculum.pdf">
                <button class="descargable" >Descargar CV</button>
            </a>

            <h1 class="formacion">FORMACION</h1>

            <div>
                <img src="./static/imagenes/flecha.png" alt="#" class="flecha"><p class="primera_formacion">Primer año de CFGM en microinformática<br>y redes e-learning (2020)</p>
            </div>

            <div>
                <img src="./static/imagenes/flecha.png" alt="#" class="flecha"><p class="segunda_formacion">Programación de sistemas informáticos (IFCT0609), (2022)</p>
            </div>

            <h1 class="competencias">SOFT SKILLS</h1>

            <div>
                <img src="./static/imagenes/flecha.png" alt="#" class="flecha"><p class="ofimatica">Buen dominio en suit ofimática de office.</p>
            </div>

            <div>
                <img src="./static/imagenes/flecha.png" alt="#" class="flecha"><p class="equipo">Coordinacion y trabajo en equipo.</p>
            </div>

            <div>
                <img src="./static/imagenes/flecha.png" alt="#" class="flecha"><p class="ingles">Nivel de ingles medio (B2).</p>
            </div>

            <div>
                <img src="./static/imagenes/flecha.png" alt="#" class="flecha"><p class="aprendizaje">Buena capacidad de aprendizaje y motivacion.</p>
            </div>

            <div>
                <img src="./static/imagenes/flecha.png" alt="#" class="flecha"><p class="creatividad">Suelo tener grandes ideas por lo que tengo mucha creatividad.</p>
            </div>

            <div>
                <img src="./static/imagenes/flecha.png" alt="#" class="flecha"><p class="critica">Soy autocrítico porque sólo si lo eres puedes llegar a mejorar.</p>
            </div>

            <h1 class="datos">DATOS ADICIONALES</h1>

            <div>
                <img src="./static/imagenes/flecha.png" alt="#" class="flecha"><p class="coche">Tengo carnet de conducir y coche propio</p>
            </div>

            <div>
                <img src="./static/imagenes/flecha.png" alt="#" class="flecha"><p class="github">Cuenta de GITHUB: munilla1</p>
            </div>

            <div>
                <img src="./static/imagenes/flecha.png" alt="#" class="flecha"><p class="pagina">Portfolio de presentacion: <a href="https://portafoliodemunilla.netlify.app">https://portafoliodemunilla.netlify.app</a></p>
            </div>

        </div>

    </div>
</body>
</html>